a:link{
  text-decoration: none;
  color:green;
}

a:visited{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color:red;
}

.container{
	width: 900px;
  margin: 0 auto;
}

.bio {
	width: 65%;
  margin-top: 15px;
 	float:left;
}
.me {
	width:200px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius:50%;
	float:left;
}
.social_container{
  width:25%;
  margin-left:50px;
  float:left;
}

.blog{
  width:85%;
}

header{
	height:10%;
	margin-top: 20px;
	margin-bottom: 20px;
}
h1 {
    display: inline-block;
    margin-top: 0.321em;
    font-family:cursive;
    font-size: 42px;
}

nav {
    display: inline-block;
    vertical-align: center;
    margin-left: 75px;
}

ul.nav {
  list-style: none;
  padding: 10px;
   }

ul.nav li{
  display: inline; 
  margin-right: 10px;
  font-size: 24px
}

ul.published li{
  margin-top:10px;
}

p {
  font-family: arial;
  padding: 2px;
}


